* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
    background-color: honeydew;
    padding: 5rem;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}

.container h1,
.container p,
.container button {
    margin-bottom: 1rem;
}

.container p {
    font-size: 1rem;
    cursor: grabbing;
}

.container button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

